$svg-color-primary: #38C172;
$svg-color-secondary: #F8FAFC;

.svg-primary {
    fill: $svg-color-primary;
}

.svg-secondary {
    fill: $svg-color-secondary;
}

.svg-primary-inverted {
    fill: $svg-color-secondary;
}

.svg-secondary-inverted {
    fill: $svg-color-primary;
}

.svg-primary-parent:hover svg fill {
    fill: $svg-color-secondary;
}

.svg-secondary-parent:hover svg fill{
    fill: $svg-color-primary;
}

.svg-primary-inverted-parent:hover svg fill {
    fill: $svg-color-primary;
}

.svg-secondary-inverted-parent:hover svg fill{
    fill: $svg-color-secondary;
}